{% extends 'base.html' %}

{% block main %}
{% include 'flash_messages.html' %}
<h1 class="myheadings">Add Profile</h1>
{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<div class=profileform>
<form action="{{ url_for('profile') }}" method = "post" enctype="multipart/form-data">

  {# Add the file upload field as you learnt for Flask-WTF #}
  {{ form.csrf_token }}
  <div>
    {{ form.firstname.label }}
   </div>
   <div>
    {{form.firstname}}
  </div>
  <div>
    {{ form.lastname.label }}
   </div>
   <div>
    {{form.lastname}}
  </div>
  <div>
    {{ form.gender.label }}
   </div>
   <div>
    {% for subfield in form.gender %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
  </div>
  <div>
    {{ form.email.label }}
   </div>
   <div>
    {{form.email}}
  </div>
  <div>
    {{ form.location.label }}
   </div>
   <div>
    {{form.location}}
  </div>
  <div>
    {{ form.bio.label }}
   </div>
   <div>
    {{form.bio}}
  </div>
  {{form.image.label}}
  <div>
      <label class="custom-file-upload">
        {{form.image}}
        Browse...
        </label>
        
    </div>
  <div>
  	<button type="submit" name="submit" class="mybutton">Add Profile</button>
  </div>
</form>
</div>
{% endblock %}
