{% extends 'base.html' %}

{% block main %}

<div >
	<div class="profilecardpersonal">
		<div>
			<img class="profileimg" src="{{ url_for('static', filename="uploads/" + files[user.id]) }}" >
		</div>
		<div>
			<p>{{user.first_name}} {{user.last_name}}</p>
			<p>{{user.email}}</p>
			<p>{{user.location}}</p>
		</div>
		<div>
			<p>About Me</p>
		</div>
		<div id="bio">
			<p>{{user.bio}}</p>
		</div>
		<button id="profilebutton" name="submit" class="btn btn-primary">Send Message</button>
		<button id="profilebutton" name="submit" class="btn btn-primary">Follow</button>
	</div>
</div>

{%endblock%}